<!-- 
 ███████ ██   ██     ██████  ███████ ██    ██ ███████ ██       ██████  ██████  ███    ███ ███████ ███    ██ ████████ 
██      ██   ██     ██   ██ ██      ██    ██ ██      ██      ██    ██ ██   ██ ████  ████ ██      ████   ██    ██    
█████   ███████     ██   ██ █████   ██    ██ █████   ██      ██    ██ ██████  ██ ████ ██ █████   ██ ██  ██    ██    
██      ██   ██     ██   ██ ██       ██  ██  ██      ██      ██    ██ ██      ██  ██  ██ ██      ██  ██ ██    ██    
██      ██   ██     ██████  ███████   ████   ███████ ███████  ██████  ██      ██      ██ ███████ ██   ████    ██    
                                                                                                                    
                                                                                                                    
FH Development is a Roblox Development Store that has been around for a long time. 
We have been providing quality products and services to the Roblox community for years. 
Our team of experienced developers and designers are dedicated to creating high-quality products that meet the needs of our customers.

FOUNDERS: Will O   ,   Hybridz D   ,   Rhys G
DISCORD: https://discord.gg/UHXJwPjxtu
 
-->
<!-- Product Name and Description-->
<h1>SafeGas V2 Installation</h1>
<p>
    SafeGas, the ro-industrys most advanced and secure gas system, is now available for installation. This guide will walk you 
    through the steps to install SafeGas V2 on your system. Please ensure that you have the necessary permissions and access rights before proceeding with the installation.
</p>

<!-- This should be a product specific banner-->
<div class="hero-banner">
    <img
        src="https://media.discordapp.net/attachments/1421949889994297495/1496565995366781020/image.png?ex=6a532872&is=6a51d6f2&hm=8cdb7df1cd4325e78775a4e18dc5855c47fabffb0da1ec8fb9a9c04148a9defe&=&format=webp&quality=lossless&width=1644&height=822" 
        alt="FH Development">
</div>

<!-- Installation guide here -->
<div class="bullet-list">

    <div class="bullet">
        <div class="bullet-number">
            1
        </div>

        <div class="bullet-content">
            <h3 class="bullet-title">
                Place the file in Workspace
            </h3>

            <div class="bullet-text">
                After downloading the product file, drag and
                drop into Workspace under your game.
            </div>
        </div>
    </div>

    <div class="bullet">
        <div class="bullet-number">
            2
        </div>

        <div class="bullet-content">
            <h3 class="bullet-title">
                Ensure HTTP requests/API services are enabled
            </h3>

            <div class="bullet-text">
                Check to make sure your security settings are
                correct. You can do this by heading to
                <b>Home</b> in Roblox Studio, then
                <b>Security Settings</b>.
            </div>
        </div>
    </div>

</div>


<!-- The following should be-->
<div class="box box-info">
    <div class="box-icon">ⓘ</div>

    <div class="box-content">
        <p>
            To retrieve a product file please head to the
            <a href="https://vaultroblox.com/navigator/licenses">FH Development Licenses Bay</a>.
        </p>
    </div>
</div>

<div class="box box-caution">
    <div class="box-icon">⚠</div>

    <div class="box-content">
        <p>
            If a purchase was made on our <a href="https://clearlydev.com/store/fh-development" target="_blank">Clearly Development Store</a>, please open a ticket in our <a href="https://discord.gg/UHXJwPjxtu" target="_blank">Discord Server</a> with the Licensing and Billing Team  and show proof of purchase and for which product. Also show the Order Number. Or feel free to email us at <a href="mailto:licensing@fh-development.xyz">licensing@fh-development.xyz</a>.
        </p>
    </div>
</div>